
            <h2>A mužstvo</h2>
            <div class="stred">
            <span id="ikonka_a.muzstvo" class="icon-down-open" onclick="amuzstvo()"></span>
            </div>
            <article id="a.muzstvo">
                <section class="muzstvo">
                    <div class="sloupce-2">
                        <div>
                            <img src="~/fotky/a.mustvo/linz.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Thomas Linz 3</div>
                        </div>
                        <div>
                            <img src="fotky/a.muzstvo/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="~/fotky/a.mustvo/safarik.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Petr Šafařík 6</div>
                        </div>
                        <div>
                            <img src="~/fotky/a.mustvo/" asp-append-version="true"/>
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="~/fotky/a.mustvo/mencl.jpg" asp-append-version="true"/>
                            <div class="image-text-label">(K) Petr Mencl 23</div>
                        </div>
                        <div>
                            <img src="~/fotky/a.mustvo/hartig.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Jiří Hartig 14</div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="fotky/a.muzstvo/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/a.muzstvo/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="~/fotky/a.mustvo/hajek.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Lukáš Hájek</div>
                        </div>
                        <div>
                            <img src="~/fotky/a.mustvo/skoda.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Jaroslav Škoda 20</div>
                        </div>
                    </div>
                    <div class="sloupce-1">
                        <div>
                            <img src="~/fotky/a.mustvo/tucek.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Lukáš Tuček 1</div>
                        </div>
                    </div>
                </section>


                <h2>Lavička</h2>
                <section class="lavicka">
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/a.muzstvo/" alt="">
                        <div class="image-text-label"></div>
                    </picture>

                    <div class="podtrzeni"></div>
                </section>
            </article>


            <h2>Sezóna 2023</h2>
            <section>
                <table class="blueTable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Místo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>.</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                    </tbody>
                </table>
            </section>