

        <main class="prava">
            <article>
                <section class="listek" id="nacepu">
                    <h2>Na čepu 0,5 / 0,3 l</h2>
                    <p>Radegast 12°</p>
                    <p class="cena">35 ,- / 23 ,-</p>
                    <p>Kozel 11°</p>
                    <p class="cena">32 ,- / 22 ,-</p>
                    <p>Kozel černý</p>
                    <p class="cena">35 ,- / 22 ,-</p>
                    <p>Kozel řezaný</p>
                    <p class="cena">35 ,- / 22 ,-</p>
                    <p>Radegast 10°</p>
                    <p class="cena">32 ,- / 22 ,-</p>
                    <p>Plzeň</p>
                    <p class="cena">44 ,- / 30 ,-</p>
                    <p>Birell pomelo grep</p>
                    <p class="cena">38 ,- / 25 ,-</p>
                    <p>Točená limča</p>
                    <p class="cena">35 ,- / 21 ,-</p>

                </section>
            </article>



            <article>
                <section class="listek" id="lednice">
                    <h2>Osvěžení z lednice</h2>
                    <p>Plzeň - lahvové</p>
                    <p class="cena">37,- + 3,- láhev</p>
                    <p>Birell světlý - lahvové</p>
                    <p class="cena">30,- + 3,- láhev</p>
                    <p>Kingswood apple cider</p>
                    <p class="cena">38,-</p>
                    <p>Frisco dle nabídky</p>
                    <p class="cena">38,-</p>
                    <p>Birell dle nabídky</p>
                    <p class="cena">38,-</p>
                    <p>Redbull</p>
                    <p class="cena">50,-</p>
                    <p>Koli limonády dle nabídky</p>
                    <p class="cena">35,-</p>
                    <p>Voda prlivá / neperlivá</p>
                    <p class="cena">25,-</p>


                </section>
            </article>

            <article>
                <section class="listek" id="teplenapoje">
                    <h2>Teplé nápoje</h2>
                    <p>Espresso s mlékem</p>
                    <p class="cena">35,-</p>
                    <p>Turecká káva</p>
                    <p class="cena">30,-</p>
                    <p>Cappuccino</p>
                    <p class="cena">45,-</p>
                    <p>Latte macchiato</p>
                    <p class="cena">45,-</p>
                    <p>Horká čokoláda se šlehačkou</p>
                    <p class="cena">30,-</p>
                    <p>Čaje dle nabídky</p>
                    <p class="cena">30,-</p>
                    <p>Horké jablko / hruška</p>
                    <p class="cena">30,-</p>
                    <p>Horká griotka</p>
                    <p class="cena">45,-</p>
                    <p>Grog</p>
                    <p class="cena">45,-</p>
                    <p>Svařené víno</p>
                    <p class="cena">50,-</p>
                </section>
            </article>


            <article>
                <section class="listek" id="pochutiny">
                    <h2>Něco na chuť</h2>
                    <p>Párek v rohlíku</p>
                    <p class="cena">29,-</p>
                    <p>Párek na tácek 2 ks</p>
                    <p class="cena">60,-</p>
                    <p>Nakládaný hermelín + pečivo</p>
                    <p class="cena">75,-</p>
                    <p>Utopenec + pečivo</p>
                    <p class="cena">50,-</p>
                    <p>Korbáčik 2 ks</p>
                    <p class="cena">15,-</p>
                </section>
            </article>

            <article>
                <section class="listek" id="drinky">
                    <h2>Míchané drinky 0,2 l</h2>
                    <p>Aperol spritz</p>
                    <p class="cena">99,-</p>
                    <p>Cuba libre</p>
                    <p class="cena">65,-</p>
                    <p>Bavorák</p>
                    <p class="cena">55,-</p>
                    <p>Beton</p>
                    <p class="cena">55,-</p>
                    <p>Captain morgan & cola</p>
                    <p class="cena">65,-</p>
                </section>
            </article>
            </main>
