
            <h2>Mladší dorostenci</h2>
            <div class="stred">
                <span id="ikonka_ml.dorost" class="icon-down-open" onclick="mldorost()"></span>
            </div>
            <article id="ml.dorost">
                <section class="muzstvo">
                    <div class="sloupce-2">
                        <div>
                            <img src="fotky/dorost/lelek.jpg" alt="">
                            <div class="image-text-label">Lelek 8</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/skalicky.jpg" alt="">
                            <div class="image-text-label">Skalický 5</div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="fotky/dorost/brzak.jpg" alt="">
                            <div class="image-text-label">Brzák 11</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/sulitka.jpg" alt="">
                            <div class="image-text-label">Šulitka 3</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/vanicek.jpg" alt="">
                            <div class="image-text-label">Vaníček 2</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/beek.jpg" alt="">
                            <div class="image-text-label">Beek 13</div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="fotky/dorost/imlauf.jpg" alt="">
                            <div class="image-text-label">Imlauf 6</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/krasa.jpg" alt="">
                            <div class="image-text-label">Krása 16</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/vosahlo.jpg" alt="">
                            <div class="image-text-label">Vosáhlo 4</div>
                        </div>
                        <div>
                            <img src="fotky/dorost/zelinka.jpg" alt="">
                            <div class="image-text-label">Zelinka 10</div>
                        </div>
                    </div>
                    <div class="sloupce-1">
                        <div>
                            <img src="fotky/dorost/vedralova.jpg" alt="">
                            <div class="image-text-label">Vedralová 1</div>
                        </div>
                    </div>
                </section>



                <h2>Lavička</h2>
                <section class="lavicka">
                    <picture>
                        <img src="fotky/dorost/javor.jpg" alt="">
                        <div class="image-text-label">Javor 7</div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/losenicky.jpg" alt="">
                        <div class="image-text-label">Losenický 17</div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/vosahlo.ml.jpg" alt="">
                        <div class="image-text-label">Vosáhlo 15</div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/jindrisek.jpg" alt="">
                        <div class="image-text-label">Jindřišek</div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/dorost/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                </section>
                <div class="podtrzeni"></div>
            </article>



            <h2>Sezóna 2023</h2>
            <section>
                <table class="blueTable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Místo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>.</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                    </tbody>
                </table>
            </section>



