
            <h2>Mladší dorostenci</h2>
            <div class="stred">
                <span id="ikonka_ml.dorost" class="icon-down-open" onclick="mldorost()"></span>
            </div>
            <article id="ml.dorost">
                <section class="muzstvo">
                    <div class="sloupce-2">
                        <div>
                            <img src="~/fotky/ml.dorost/lelek.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Jan Lelek 8</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/skalicky.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Štěpán Skalický 5</div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="~/fotky/ml.dorost/brzak.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Jiří Brzák 11</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/sulitka.jpg" asp-append-version="true"/>
                            <div class="image-text-label">(K) Dominik Šulitka 3</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/vanicek.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Lukáš Vaníček 2</div>
                        </div>
                        <div>
                           <img src="~/fotky/ml.dorost/beek.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Edwin Van Beek 13</div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="~/fotky/ml.dorost/imlauf.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Petr Imlauf 6</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/krasa.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Šimon Krása 16</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/vosahlo.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Martin Vosáhlo 4</div>
                        </div>
                        <div>
                            <img src="~/fotky/ml.dorost/zelinka.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Jaroslav Zelinka 10</div>
                        </div>
                    </div>
                    <div class="sloupce-1">
                        <div>
                            <img src="~/fotky/ml.dorost/vedralova.jpg" asp-append-version="true"/>
                            <div class="image-text-label">Ellen Vedralová 1</div>
                        </div>
                    </div>
                </section>



                <h2>Lavička</h2>
                <section class="lavicka">
                    <picture>
                        <img src="~/fotky/ml.dorost/javor.jpg" asp-append-version="true"/>
                        <div class="image-text-label">Jan Javor 7</div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/losenicky.jpg" asp-append-version="true"/>
                        <div class="image-text-label">Michal Losenický 17</div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/vosahlo.ml.jpg" asp-append-version="true"/>
                        <div class="image-text-label">Radim Vosáhlo 15</div>
                    </picture>
                    <picture>
                       <img src="~/fotky/ml.dorost/jindrisek.jpg" asp-append-version="true"/>
                        <div class="image-text-label">Jindřišek</div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/" asp-append-version="true"/>
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/" asp-append-version="true"/>
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/" asp-append-version="true"/>
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="~/fotky/ml.dorost/" asp-append-version="true"/>
                        <div class="image-text-label"></div>
                    </picture>
                </section>
                <div class="podtrzeni"></div>
            </article>



            <h2>Sezóna 2023</h2>
            <section>
                <table class="blueTable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Místo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>.</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                    </tbody>
                </table>
            </section>



            <h2>Sezóna 2023 - odehrané</h2>
            <section>
                    <table class="blueTable">
                        <thead>
                            <tr> 
                                <th>Datum</th>
                                <th>Čas</th>
                                <th>Domácí</th>
                                <th>Hosté</th>
                                <th>Místo</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>...</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                            </tr>
                            <tr>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                            </tr>
                            <tr>
                                <td>.</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                            </tr>
                            <tr>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                            </tr>
                        </tbody>
                    </table>
            </section>


