
            <h2>Starší žáci</h2>
            <div class="stred">
                <span id="ikonka_st.zaci" class="icon-down-open" onclick="mlzaci()"></span>
            </div>
            <article id="ml.zaci">

                <section class="muzstvo">
                    <div class="sloupce-2">
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                    </div>
                    <div class="sloupce-4">
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                    </div>
                    <div class="sloupce-1">
                        <div>
                            <img src="fotky/ml.zaci/" alt="">
                            <div class="image-text-label"></div>
                        </div>
                    </div>
                </section>






                <h2>Lavička</h2>
                <section class="lavicka">
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                    <picture>
                        <img src="fotky/ml.zaci/" alt="">
                        <div class="image-text-label"></div>
                    </picture>
                </section>
                <div class="podtrzeni"></div>
            </article>


            
            <h2>Sezóna 2023</h2>
            <section>
                <table class="blueTable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Místo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>.</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                        <tr>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                            <td>....</td>
                        </tr>
                    </tbody>
                </table>
            </section>
